@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  height: 100%;
  overflow: hidden;
  background: #09090b; /* zinc-950 */
  color: #f4f4f5;      /* zinc-100 */
  font-family: Arial, Helvetica, sans-serif;
}
